<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>	
	<title>Cartorio.com</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"/>
</head>
<body>
	<header class="cabecalho">
		<nav class="menu">
			<h1 class="titulo-principal">Cartorio.com</h1>
			<ul class="sub-menu">
				<li><a href="/">Cadastrar</a></li>
				<li><a href="/listarcartorios">Listar</a></li>

			</ul>
		</nav>
	</header>
	<main class="principal">
		<form class="formulario" action="salvar" method="POST">
			<h1 class="titulo-form">Alterar Cartório</h1>
			<div class="name-form">
				<label for="nome">Nome</label>
				<input type="text" name="nome" th:value="@{(${cartorio.nome})}"autofocus>
				<input type="hidden" name="id" th:value="@{(${cartorio.id})}">
			
			</div>
			<button type="submit">Confirmar Alteração</button>
		</form>
	</main>
	<footer class="rodape">
		<p> Copyright &copy; Cartorio.com | Todos os direitos reservados</p>
	</footer>
 </body>
</html>