<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>	
	<title>Cartorio.com</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/sucesso.css"/>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"/>
</head>
<body>
	<header class="cabecalho">
		<nav class="menu">
			<h1 class="titulo-principal">Cartorio.com</h1>
			<ul class="sub-menu">
				<li><a href="/">Cadastrar</a></li>
				<li><a href="/listarcartorios">Listar</a></li>

			</ul>
		</nav>
	</header>
	<main class="principal">
		<div class="div-sucesso" >
			<h1 class="titulo"><span th:text="${mensagem}"></span></h1>
			<a class="link-voltar" href="/">Voltar</a>
		</div>
	</main>
	<footer class="rodape">
		<p> Copyright &copy; Cartorio.com | Todos os direitos reservados</p>
	</footer>	
</body>
</html>